<h1 class="welcome">Hello This is Express App</h1>
<h4>Interface in under contruction</h4>
<h5>Please verify all api Endpoints in postman</h5>
<hr>
<div class="row">
  <div class="col s12 m6">
      <ul>
  <li>
    <p >To fetch all the Genres list click below</p>
  
    <p><a href="https://videorenting.herokuapp.com/api/genre" target="_next"> Click Here</a></p>
  </li>


  <li>
    <p>To fetch all the Movies click the link below</p>
  
    <p><a href="https://videorenting.herokuapp.com/api/movie" target="_next"> Click Here</a></p>
  </li>

 <li>
    <p >To Register use Postman</p>
    <label>Enter name , email , passwowrd</label>
  
    <p><a href="#"> https://videorenting.herokuapp.com/api/users</a></p>
  </li>
<p>To Login use Postman</p>
    <label>Enter email , passwowrd</label>
  
    <p><a href="#"> https://videorenting.herokuapp.com/api/auth</a></p>
  </li>

</ul>
  </div>
  <div class="col s12 m6">
    <ul>
  <li>
    <p >To Generate Genres use Postman </p>
    <label>Login first using postmon and save JWT return in header</label>
    <label>Enter name and add JWT in header</label>
  
    <p><a href="#" target="_next"> https://videorenting.herokuapp.com/api/genre</a></p>
  </li>


  <li>
    <p>To Generate Movie use Postman </p>
    <label >Login first using postmon and save JWT return in header</label>
    <label >Enter name and genre id and add JWT in header</label>
    <p><a href="" target="_next">https://videorenting.herokuapp.com/api/movie</a></p>
  </li>

 <li>
    <p>To update genre use Postman</p>
    <label>Enter name</label>
  
    <p><a href="#"> https://videorenting.herokuapp.com/api/genre</a></p>
  </li>
<p>To delete genre use Postman</p>
    <label>Use genre id</label>
  
    <p><a href="#"> https://videorenting.herokuapp.com/api/genre</a></p>
  </li>

</ul>
  </div>
</div>
